.hero-splash {
  .background-container {
    @include display-flex;
    @include justify-content(center);
    @include flex-direction(column);
    background: {
      repeat: no-repeat;
      size: cover;
      // variable - hero-splash/*.jpg
      image: url(hero-splash/california.jpg);
      position: bottom center;
    }
    // variable - *rem
    min-height: 45rem;
  }
  .splash-tagline,
  .splash-cta {
    @include display-flex;
    @include justify-content(center);
    // variable depending upon average background color, use if bg image colors are spread apart enough
    @include background-image(linear-gradient(to right, fade-out(#fd7000, 0.3), fade-out(#fd7, 1)));
  }
  .companytag {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .splash-tagline {
    padding-top: 10px;
  }
  .tagline-container,
  .cta-container {
    // tied to the other container width
    // variable - *px
    width: 1250px;
  }
  .companytag,
  .pretag,
  .posttag {
    // variable - left, center, right
    text-align: left;
    // variable - invert color of albatross
    color: #eee;
  }
}