.introductory-lobby {
  @include display-flex;
  @include justify-content(space-between);
  .horizontal-cell {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 50%;
  }
  .fishing-background {
    background: {
      image: url(introductory-lobby/coast.jpg);
      size: cover;
      position: bottom left;
    }
  }
}