.product-listing {
  @include transition-property(background-color);
  @include transition-duration(300ms);
  @include transition-timing-function(ease-out);
  background: {
    color: #ccc;
  }
  &:hover {
    background: {
      color: #ddd;
    }
  }
  .product-image {
    width: 75px;
    max-height: 100px;
  }
  .media-texts {
    font-size: 1.45rem;
    width: 100%;
  }
  .smaller-details {
    font-size: 0.85rem;
  }
  .media-object {
    margin-right: 15px;
  }
  .product-header {
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include align-items(center);
    border-bottom: 1px solid #bbb;
  }
}