.site-footer {
  padding-bottom: 5rem;
  background-color: #444;
  .footer-title {
    padding-top: 5rem;
    color: #999;
  }
  .copyright {
    color: #999; 
  }
  .tagline-row {
    width: 100%;
    text-align: center;
  }
}