.table-booths {
  .filler-picture {
    @include display-flex;
    @include justify-content(center);
    @include flex-direction(column);
  }
  .label-text {
    color: #444;
  }
  .title {
    text-align: right;
    text-transform: capitalize;
    color: #444;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .form-card {
    @include box-shadow(black 0px 0px 10px);
    padding: 3rem 1rem 1rem 1rem;
    margin-bottom: 3rem;
    background: {
      color: #f3f3f3;
    }
  }
  .thank-you-card {
    background: {
      color: darken(green, 10%);
    }
    text-align: center;
    color: #eee;
    font-size: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}