.products-showcase {
  .contained-media-one {
    padding-top: 5rem;
    border-top: 2px solid #777;
  }
  .product-container {
    @include display-flex;
    @include justify-content(center);
  }
  .product-row {
    width: 1250px;
  }
  .container-row {
    @include display-flex;
    @include align-items(flex-end);
    @include align-content(flex-end);
    @include flex-direction(row);
    @include flex-wrap(wrap-reverse);
  }
  .media-object {
    padding-left: 15px;
    @media #{$small-only} {
      width: 100%;
    }
    @media #{$medium-up} {
      width: 33%;
    }
  }
  .media-texts {
    padding-left: 15px;
    @media #{$small-only} {
      width: 100%;
    }
    @media #{$medium-up} {
      width: 66%;
    }
  }
  img.product-image {
    min-height: 275px;
  }
  .product-title {
    font-size: 2rem;
    text-transform: capitalize;
  }
  .product-post-note {
    @include display-flex;
    @include justify-content(center);
    @include flex-direction(column);
    background: {
      image: url("products-showcase/rocks.jpg");
      size: cover;
    }
    min-height: 30rem;
  }
  .after-thought {
    text-align: center;
    font-weight: bolder;
    background-color: fade-out(#fff, 0.4);
  }
}