.products-product-show {
  .main-image {
    min-width: 275px;
    max-width: 400px;
    @media #{$medium-only} {
      min-width: 200px;
      max-width: 210px;
    }
  }
  .other-image {
    max-height: 100px;
  }
  .call-to-action {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.45rem;
  }
}